name: lint

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  # make this workflow callable from other workflows
  workflow_call:

jobs:
  lint-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - '20'
          - '22'
          - '24'
    steps:
    - name: checkout
      uses: actions/checkout@v5

    - name: setup Node v${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install

    - run: npm run lint

    # todo: run `npm test` once there are tests
